<h1>Listing Pieces</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<!--
	<% for(user in model) { %>
	<tr>
	  <td><%= model[user].name %></td>
	  <td><%= model[user].email %></td>
    <td><a href="/user/show/<%= model[user].id %>">Show</a></td>
    <td><a href="/user/edit/<%= model[user].id %>">Edit</a></td>
	<% } %>
	</tr>
-->

  <% _.each(model, function (piece) { %>
  <tr>
    <td><%= piece.name %></td>
    <td><a href="/piece/show/<%= piece.id %>" target="_blank">Show</a></td>
    <td><a href="/piece/edit/<%= piece.id %>">Edit</a></td>
    <td><a href="/piece/destroy/<%= piece.id %>">Delete</a></td>
  <% }) %>
  </tr>
</table>
<br />

<a href="/piece/new">New Piece</a>
